<div class="container">
  <h2>{{ title }}</h2>

  <form
    #projectForm="ngForm"
    (ngSubmit)="onSubmit(projectForm)"
    class="form-group"
    autocomplete="off"
  >
    <div class="row">
      <div class="col-12 col-sm-6">
        <p>
          <label for="name">Nombre</label>
          <input
            class="form-control input-text"
            type="text"
            name="name"
            #name="ngModel"
            [(ngModel)]="project.name"
            required
          />
          <small class="alert-danger" *ngIf="name.touched && !name.valid">
            El nombre del proyecto es necesario
          </small>
        </p>
        <p>
          <label for="description">Descripción</label>
          <textarea
            class="form-control input-text form-text-area"
            type="text"
            name="description"
            #description="ngModel"
            [(ngModel)]="project.description"
            required
          ></textarea>
          <small
            class="alert-danger"
            *ngIf="description.touched && !description.valid"
          >
            La descripción del proyecto es necesaria
          </small>
        </p>
        <p>
          <label for="category">Categoría</label>
          <input
            class="form-control input-text"
            type="text"
            name="category"
            #category="ngModel"
            [(ngModel)]="project.category"
            required
          />
          <small
            class="alert-danger"
            *ngIf="category.touched && !category.valid"
          >
            La categoría del proyecto es necesaria
          </small>
        </p>
        <p>
          <label for="year">Año de lanzamiento</label>
          <input
            class="form-control input-text"
            type="number"
            name="year"
            #year="ngModel"
            [(ngModel)]="project.year"
            required
          />
          <small class="alert-danger" *ngIf="year.touched && !year.valid">
            El año de comienzo del proyecto es necesario
          </small>
        </p>
      </div>

      <!-- COLUMNA DE LA DERECHA CON LA IMAGEN -->
      <div
        class="col-12 col-sm-6 justify-content-center align-items-center d-flex"
      >
        <!-- ? 'project.file' -->
        <img
          [src]="
            imageSource ? imageSource : '../../../../assets/img/no_image.jpg'
          "
          alt="imagen del proyecto"
        />
      </div>
    </div>

    <!-- Agregar y quitar lenguajes-->
    <label for="langs">Lenguajes utilizados</label>
    <div class="row">
      <div class="col-12 col-md-2">
        <input
          class="form-control input-langs"
          type="text"
          name="langs"
          #langControl
          #langs="ngModel"
          [(ngModel)]="inputLang"
        />
        <button
          class="form-control button-add mt-0"
          type="button"
          (click)="addLang()"
        >
          Agregar lenguaje
        </button>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <span *ngFor="let lang of project.langs; let i = index">
              <div
                class="input-group input-group-sm langs-group d-inline-flex me-2"
              >
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="lang"
                  readonly
                />
                <button
                  (click)="removeLang(i)"
                  class="btn btn-outline-secondary button-delete-lang"
                  type="button"
                >
                  Borrar
                </button>
              </div></span
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Añadir imagen-->

    <p>
      <label for="image"
        >Imagen del proyecto<span
          class="ms-2 badge bg-danger float-end"
          [hidden]="isImage"
          >Extension de imagen incorrecta</span
        ></label
      >
      <input
        class="form-control"
        type="file"
        accept="image/*"
        name="imagen"
        placeholder="Subir imagen"
        (change)="fileChangeEvent($event)"
        #inputFile
      />
    </p>

    <input
      class="form-control"
      type="submit"
      value="Enviar"
      [disabled]="projectForm.invalid"
    />
    <button *ngIf="areThereLastProject"
      class="form-control mt-3 btn btn-success"
      type="button"
      [routerLink]="['/detalles-proyecto/'+this.lastProject._id]"

    >
      Acceder a los detalles del último proyecto creado
    </button>
  </form>
</div>
