.alto-precio{
    color: rgb(82, 82, 82);
    font-size: 12px;
    font-weight: lighter;
}

.fondo-rojo{
    background-color: red;
}

.subrayado{
    text-decoration: underline;
}
.clase-nav-activado{
    border: 3px solid blue;
}