/* Importar fuentes custom*/
@font-face {
  font-family: "yanone";
  src: url("fonts/yanone.ttf");
}

@font-face {
  font-family: "finger";
  src: url("fonts/finger.ttf");
}

/*Generales*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}

.clearfix {
  float: none;
  clear: both;
}

/*Barra de navegacion / cabecera*/

header {
  display: block;
  width: 100%;
  height: 90px;
  background: rgba(53, 103, 164, 0.8);
  position: fixed;
  text-transform: uppercase;
  z-index: 20;
}

header ul {
  display: block;
  /* width: 70%; */
  margin: 0px auto;
  height: 90px;
  overflow: hidden;
  /* margin-top: -3px; */
}

header ul li {
  display: flex;
  align-content: center;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 500ms;
  text-align: center;
  border-radius: 20px;
}

header ul li:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.02, 1.02);
}

.actived {
  background: rgba(22, 22, 22, 0.411);
  border-radius: 0px;
  box-shadow: 0px 0px 2px black;
}

.pointer {
  cursor: pointer;
}

/*Logotipo*/

.logo {
  font-family: "finger";
  font-size: 30px;
  transition: color 500ms, transform 500ms;
}

.logo:hover {
  background: transparent;
  color: black;
  transform: scale(1.5, 1.5);
  cursor: crosshair;
}

/*Contenedor principal*/

#content {
  min-height: 200px;
  height: auto;
  width: 75%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  border-left: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
  background: rgba(255, 255, 255, 0.7);
  padding-top: 120px;
  padding-bottom: 20px;
}

/*Pie de pagina*/
footer {
  width: 75%;
  margin: 0px auto;
  padding: 15px 10px 5px 5px;
  /* color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.74);
  text-align: right;
  box-shadow: 0px 0px 40px black;
}

/*Sobre mi*/
#title {
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

#title h1 {
  font-family: "finger";
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#title h2 {
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

#title p {
  text-align: left;
}

#title .photo {
  border-radius: 500px;
  width: 50%;
  /* filter: sepia(100%); */
}
#title p {
  padding: 0px;
  margin-bottom: 0px;
}

article.about {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.about p {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

/*Sección con formulario*/

.container {
  padding: 50px;
  padding-top: 10px;
}

.container .image {
  float: left;
  width: 47%;
}

.container .image img {
  width: 100%;
}

.container .data {
  float: left;
  width: 48%;
  margin-left: 30px;
}

.container h2 {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

form {
  width: 100%;
}

form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

form .input-text,
form input[type="number"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 5px;
}

form .form-text-area {
  width: 100%;
  min-height: 100px;
}

form button,
form input[type="submit"],
.button-add,
.button-delete-lang,
.button-edit,
.button-delete {
  display: block;
  font-size: 17px;
  padding: 10px;
  margin-top: 15px;
  color: white;
  background: rgba(53, 103, 164, 1);
  border: 1px solid rgba(13, 67, 133, 1);
  cursor: pointer;
}

form input[type="submit"]:disabled {
  background: rgba(0, 12, 26, 0.452);
}
form input[type="submit"]:disabled:hover {
  background: rgba(0, 42, 88, 0.452);
}

form .input-langs {
  width: 100%;
}

form .langs-group {
  width: 30%;
}

form img {
  border-radius: 40px;
  border: solid 1px grey;
  width: 100%;
}
.button-add {
  width: 100%;
  padding: 5px;
}

.button-delete-lang {
  margin-top: 0px;
}

.button-edit,
.button-delete {
  width: 30%;
  text-align: center;
  float: left;
  margin-right: 10px;
  text-decoration: none;
}

.button-edit {
  background: orange;
  border: none;
}

.button-delete {
  background: red;
  border: none;
}

form button:hover,
form input[type="submit"]:hover {
  background: rgba(53, 103, 164, 0.8);
  border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.form_error {
  font-size: 13px;
  padding: 3px;
  background: red;
  color: white;
  margin-left: 5px;
}

.message {
  width: 50%;
  padding: 5px;
  border: 1px solid #eee;
}

.success {
  background: green;
  color: white;
}

.message a {
  color: white;
}

.failed {
  background: red;
  color: white;
}

/*Pagina de proyectos*/

.project {
  list-style: none;
  display: block;
  float: left;
  width: 28%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.project .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.project img {
  width: 100%;
}

.project a {
  text-decoration: none;
  color: black;
}

.confirm {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}
