<div [ngStyle]="{'background': config.fondo, 'color': config.color}">
    <h1>{{titulo}}</h1>
    <h3>{{descripcion}}</h3>
</div>
<hr />
<app-nav></app-nav>
<hr />
<router-outlet></router-outlet>
<!-- <button (click)="ocultarVideojuegos()" *ngIf="mostrar_videojuegos">Ocultar videojuegos</button>
<button (click)="ocultarVideojuegos()" *ngIf="!mostrar_videojuegos">Mostrar videojuegos</button>
<videojuego *ngIf="mostrar_videojuegos"></videojuego> -->
<!-- <zapatillas></zapatillas> -->
<!-- <app-cursos></app-cursos> -->