<nav>
    <ul>
        <li><a [routerLink]="['/home']" [routerLinkActive]="['clase-nav-activado']">Home</a></li>
        <li><a [routerLink]="['/zapatillas']" [routerLinkActive]="['clase-nav-activado']">Zapatillas</a></li>
        <li><a [routerLink]="['/cursos']" [routerLinkActive]="['clase-nav-activado']">Cursos</a></li>
        <li><a [routerLink]="['/videojuegos']" [routerLinkActive]="['clase-nav-activado']">Videojuegos</a></li>
        <li><a [routerLink]="['/externo']" [routerLinkActive]="['clase-nav-activado']">Externo</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['clase-nav-activado']">Contacto</a></li>
    </ul>
</nav>